{% extends "research.html" %}

{% block content %}
<h1>Michele's publications</h1>

<div class="row">
    <h3 class="span7"><em>Thesis for Italian Laurea in Physics</em></h3>
</div>

<hr/>

<div class="row">
    <div class="span7">
        <h3>Developments in the Notion of Vacuum: Electrodynamics of Accelerated Systems, Unruh-Hawking Radiation and Black Hole Thermodynamics (thesis in Italian)</h3>
    </div>
</div>

<div class="row">
    <div class="span7">
        <p>Starting from the early seventies, a precise analogy has been
        found between classical thermodynamics and the general relativistic laws
        governing black hole dynamics. In fact, as for ordinary thermodynamics,
        it is possible to write the "four laws of black hole thermodynamics", where
        black hole mass plays the role of energy, while the <i>superficial gravity</i>
        and the area of the event horizon take the place of temperature and entropy.</p>

        <p>Following the 1975 theoretical discovery of <i>Hawking radiation</i>
        (consisting in the emission, by black holes, of a thermal spectrum of quantum
        particles at a temperature proportional to the superficial gravity of the
        event horizon), black hole thermodynamics has come to be regarded as much
        more than a simple analogy. A more accurate statement of the Hawking effect,
        actually, is the following: when one quantizes a classical field theory
        on the background of a black hole space-time, one finds that the field's
        <i>vacuum state,</i> as defined according to measurements performed at "early times",
        appears to the "late" observers in the external region of the black hole
        as a thermal bath of particles outgoing from the black hole's event horizon.</p>

        <p>Quite surprisingly, particle production cannot be ascribed
        to a direct interaction between the quantum field and the gravitational
        one: rather, it appears as a <i>by-product of the different definition
        of "particle"</i> by early and late observers. This fact has led us to
        ponder what we called "Einstein's conflictual heredity": on the one hand,
        the affirmation of Poincar&eacute; group as the <i>global symmetry group
        </i> of space-time has been seminal to the great theoretical synthesis of the first
        half of this century, begun with the full acknowledgement of Maxwell's
        electro-magnetism as a special-relativistic theory, and beautifully climaxed
        with quantum field theory. The concepts and interpretative paradigms of
        these theories refer naturally to the privileged class of special-relativistic
        inertial observers.</p>

        <p>On the other hand, general relativity <i>equivalence principle</i>
        does warrant Lorentz group as a simmetry group, <i>but only locally</i>.
        This becomes a problem when one tries to generalise to curved space-time
        geometries the concepts and paradigms inherited from special-relativistic
        theories, especially when these are based on the <i>global</i> symmetries
        of Minkowski space-time.</p>

        <p>This is the case, in Maxwell's theory, of the concept of "radiation",
        and, in quantum field theory, of the notion of "particle". It is interesting
        to notice that a qualitative understanding of the difficulty can be gained
        already in the simple case of a constant gravitational field, which can
        be <i>simulated</i> in special relativity using accelerated references
        frames (<i>apparent fields</i>). In classical electro-magnetism, one finds
        that the apparently sound and well-established notion of <i>radiation</i>
        of an accelerated particle <i>is not invariant</i> with respect to transformations
        between inertial and accelerated reference frames.</p>

        <p>For special-relativistic quantum field theory, a similar phenomenon
        is found in <i>Unruh effect, </i>namely the measurement, by a uniformly
        accelerated observer, of a thermal radiation in the vacuum state of the
        quantum field: thus the usual <i>mathematical</i> definition of "particle"
        (based on Fourier decomposition of field operators) cannot be translated
        to accelerated reference frames. By means of a series of original "theoretical
        experiments", based on a simple model of semiclassical <i>detector</i>
        (a quantum point-like system moving on a given world-line in Minkowski
        space-time), we have investigated the meaning that can be given <i>operatively</i>
        to the concept of "particle"; we have found it in the discrete energy exchanges
        between the <i>detectors</i> and the field: only in flat space-time does
        this notion adhere to the usual mathematical definition. We have then extended
        Unruh effect to a more general class of accelerated observers (i.e., constant
        curvature world-lines), obtaining the <i>quasi-thermal</i> observed spectra.</p>

        <p>More generally, quantum field theory on curved space-times
        removes the last doubts as to the arbitrariness of a "particle" concept
        in space-times other than Minkowski. It also provides a mathematical scheme
        for a more convincing formulation and understanding of Hawking effect.
        To further enlighten this question from our <i>operative</i> viewpoint,
        we have examined the measurements that a <i>detector orbiting a black hole</i>
        would report.</p>

        <p>A weakness in black hole thermodynamics is still the absence
        of a satisfactory <i>statistical interpretation</i> of their "entropy"
        in terms of the dynamics of the matter fields on black hole geometries,
        or, even better, of the <i>quantum gravitational dynamics</i> of the black
        hole space-time itself. We end our work with a review of some of the most
        interesting proposals towards this program.</p>

        <p>It is amazing to think that most of the physics we have examined
        is, in some sense, <i>physics of the void</i>: Hawking and Unruh effects
        are measurements on the <i>vacuum state</i> of the quantum field (which
        reveals unexpected dynamical properties); the absence of "particles" and
        "radiation" (which, by common sense, we would use to define <i>void</i>)
        proves elusive and badly defined; finally, black holes are solutions of
        the <i>vacuum </i>Einstein equations: they are <i>pure geometry</i>, yet
        they possess some attributes that we feel entitled to call <i>mass</i>,
        <i>temperature</i>, and <i>entropy</i>!</p>
    </div>

    <div class="span5">
        <ul>
            <li>Corso di Laurea in Fisica, 1992/1996, <a href="http://www.fis.unipr.it">Universit&agrave; di Parma</a>, Facolt&agrave; di Scienze Matematiche, Fisiche e Naturali.</li>
            <li>Advisor: Prof. <a href="http://www.fis.unipr.it/~pauri" class="black"><b>Massimo Pauri</b></a>; co-advisors: Prof. <b>Antonio Scotti</b>, Dott. <b>Roberto de Pietri</b>. Defended on <b>April 28, 1997</b>.</li>
            <li>Cite: {{ finditem('tesi-lau',publist) }}</li>
        </ul>

        <br/>

        <div class="thumbnail">
            <img src="images/tesilaurea.jpg">
            <p><i>Illustration by Kola Krauze. The physics enthusiast Beatrice appears in several Galilean dialogues throughout the thesis.</i></p>
        </div>
    </div>
</div>

<div class="row back">
    <p class="span12"><a href="../publications.html">Back</a> to publications.</p>
</div>

{% endblock %}
